.main-box {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
}

.main {
  display: flex;
  flex-direction: column;
  align-items: center;
  flex: 1;
  background: #F0DDBF;
  padding: 10px;
}

.content-box {
  display: flex;
  border-radius: 9px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
  background: #2C2C2E;
  overflow: hidden;
  margin: 20px;
  width: 95%;
  max-width: 1900px;
  max-height: contnent-box;
}

.image-container {
  flex: 1;
  flex-basis: 40%;
  overflow: hidden;
}

.image-container img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.text-container {
  flex: 1;
  flex-basis: 60%;
  padding: 16px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.title {
  margin-top: 0;
  text-align: left;
  color: #F0DDBF;
  font-weight: bold;
  font-size: 38px;
}

.text {
  margin: 8px 0;
  text-align: left;
  color: #F0DDBF;
  font-weight: semi-bold;
  font-size: 23px;
  line-height: 1.2;
}

@media (max-width: 1100px) {
  /* Styles for small screens */
  .content-box {
    flex-direction: column;
  }
  .image-container {
    flex-basis: auto;
  }
  .text-container {
    flex-basis: auto;
  }
}

@media (max-width: 800px) {
  /* Styles for small screens */
  .content-box {
    flex-direction: column;
  }
  .image-container {
    flex-basis: auto;
  }
  .text-container {
    flex-basis: auto;
  }
  .title {
    font-size: 22px;
  }
  .text {
    font-size: 15px;
  } 
}
